@using WebApplication13.Models
@model List<WebApplication13.Models.Category>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="margin-top: 40px;">
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            @foreach (Category category in Model)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>
                        <a href="/northwind/products?catid=@category.Id">
                            @category.Name
                        </a>
                    </td>
                    <td>@category.Description</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>